
/* where do these go??
   can we add div name before ??

example ->   .divName body{}   #divName img

this will prevent overlapping css
   and styles where we dont want them


add to app/assets/stylesheets/pages.scss
*/
img {
  width: auto;
  max-width: 100%;
  height: auto;
}

#post {
  padding: 10px;

}

body {
  text-align: left;
  border-width: 10px;
  border-style: solid;
  border-color: LightGray;
  padding: 20px;
  background-color: #f2f2f2;
  margin: 20px;
}
