/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *
 * Always set the map height explicitly to define the size of the div
 * element that contains the map. */
@import url("https://unpkg.com/leaflet@1.5.1/dist/leaflet.css");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


 #map-holder{
   display: grid;
   grid-template-columns: 500px auto;
   height: 100%;
   overflow: hidden;
}

/*  LEAFLET TEST STYLINGS BELOW*/



 /* Optional: Makes the sample page fill the window. */

 /* can we be more spacific?

example ->   .divName body{}   #divName html

this will prevent conflicting css... see App.css

  */
 html, body {
   height: 100%;
   margin: 0;
   padding: 0;
 }

/* cant find these */

.feedcard{
display: grid;
grid-template-columns: auto auto auto auto;
padding: 20px;
margin: 20px;
border-style: solid;
border-radius: 15px;
border-color: #cccccc;
}



.feed-name{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.feed-icon{
}

.feed-post-text{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
  padding: 10px;
  justify-content: center;
}

.feed-status{
text-align: center;
}

.feed-btn{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  margin: auto;
}

.meet-btn{
  height: 20px;
  border-radius: 10px;
  background-color: green;
  color: white;
}



#cog-dropdown{
}



.mapIcon {
  background-color: white;
}



.biofield #user_bio{
    width: 250px;
    height: 150px;
    resize: none;
    background: url(./usericon.png) right bottom no-repeat;
    font-size: 18px;
}

#postfeed {
  padding: 5px;
  background-color: #f2f2f2;
  border: 3px solid LightGray;
  opacity: 1
}
.Map{
  display: hidden;
}
.grid-container {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 500px 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "Feed Map-Container Map-Container Map-Container" "Feed Map-Container Map-Container Map-Container" "Feed Map-Container Map-Container Map-Container";
}

.Feed {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: "feed-top-nav feed-top-nav feed-top-nav" "Feed-Posts Feed-Posts Feed-Posts";
  grid-area: Feed;
}
.feed-top-nav{
  grid-area: feed-top-nav;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.Feed-Posts {
  grid-area: Feed-Posts;
  height: 100vh;
  overflow: scroll;
}

.Map-Container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
  grid-template-areas: "Map Map Map Map" "Map Map Map Map" "Map Map Map Map" "Comment-Box Comment-Box . Filter-Area""Comment-Box Comment-Box . Filter-Area";
  grid-area: Map-Container;
  overflow: hidden;
}
#mapid {
  height: 100%;
  width: 100%;
  z-index: 0;
  grid-area: Map;
 }
.Comment-Box {
  grid-area: Comment-Box;
  margin: 20px;
  border-radius: 20px;
  padding: 10px;
  z-index: 1;
  background: white;
  box-shadow: 0px 5px 15px grey;

}
.Filter-Area {
  grid-area: Comment-Box;
  margin: 20px;
  border-radius: 20px;
  z-index: 99;
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 10px grey;
}
.New-Post-Box{

}
.post-text{
  color: black;
  z-index: 5;
}
.Filter-Area { grid-area: Filter-Area; }
