// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top{
    display: none;
    height: 130px;
}

///////////////////AboutUs//////////////////////////

.aboutPage{
    background-color: #f2f2f2;
}
    .aboutPage .travisdiv{
        margin-top: 10px;
        background-color: green;
        height: 300px;
        width: 100%;
        right: 0;

        border-style: none;

        display: grid;
        grid-template-columns: 200px 150px auto;
        grid-template-rows: auto;
        grid-template-areas:
        "picdiv space bio"
    }
        .travisdiv .picdiv{
            grid-area: picdiv;
            margin-right: 200px;
            margin-top: 10px;
        }
            .travisdiv .shadow{
                height: 280px;
                width: 280px;
                background-color: black;
                position: absolute;
                border-radius: 50%;
                margin-left: 10px;
                opacity: .6;

            }
            .travisdiv .travispic{
                height: 270px;
                width: 270px;
                position: absolute;
                border-style: none;
                border-radius: 50%;
                background-color: white;
                z-index: 3;
                margin-left: 18px;
                margin-top: 5px;
            }
        .travisdiv .space{
            grid-area: space;
        }
        .travisdiv .bio{
            grid-area: bio;
            text-align: right;
            background-color: white;
            height:260px;
            margin-top: 20px;

        }

        .aboutPage .milesdiv{
            background-color: blue;
            height: 300px;
            width: 100%;
            right: 0;
            border-style: none;
            margin-top: 5px;

            display: grid;
            grid-template-columns: 75% 55px 200px;
            grid-template-rows: auto;
            grid-template-areas:
            "bio space picdiv"
        }
            .milesdiv .picdiv{
                grid-area: picdiv;
                margin-top: 10px;
            }
                .milesdiv .shadow{
                    height: 280px;
                    width: 280px;
                    background-color: black;
                    position: absolute;
                    border-radius: 50%;
                    opacity: .6;

                }
                .milesdiv .milespic{
                    height: 270px;
                    width: 270px;
                    position: absolute;
                    border-style: none;
                    border-radius: 50%;
                    background-color: white;
                    z-index: 3;
                    margin-top: 5px;
                }
            .milesdiv .space{
                grid-area: space;
            }
            .milesdiv .bio{
                grid-area: bio;
                text-align: left;
                background-color: white;
                height:260px;
                margin-top: 20px;

            }

            .aboutPage .sebastiandiv{
                margin-top: 10px;
                background-color: red;
                height: 300px;
                width: 100%;
                right: 0;

                border-style: none;

                display: grid;
                grid-template-columns: 200px 150px auto;
                grid-template-rows: auto;
                grid-template-areas:
                "picdiv space bio"
            }
                .sebastiandiv .picdiv{
                    grid-area: picdiv;
                    margin-right: 200px;
                    margin-top: 10px;
                }
                    .sebastiandiv .shadow{
                        height: 280px;
                        width: 280px;
                        background-color: black;
                        position: absolute;
                        border-radius: 50%;
                        margin-left: 10px;
                        opacity: .6;

                    }
                    .sebastiandiv .sebastianpic{
                        height: 270px;
                        width: 270px;
                        position: absolute;
                        border-style: none;
                        border-radius: 50%;
                        background-color: white;
                        z-index: 3;
                        margin-left: 18px;
                        margin-top: 5px;
                    }
                .sebastiandiv .space{
                    grid-area: space;
                }
                .sebastiandiv .bio{
                    grid-area: bio;
                    text-align: right;
                    background-color: white;
                    height:260px;
                    margin-top: 20px;

                }

                .aboutPage .chrisdiv{
                    background-color: purple;
                    height: 300px;
                    width: 100%;
                    right: 0;
                    border-style: none;
                    margin-top: 10px;

                    display: grid;
                    grid-template-columns: 75% 55px 200px;
                    grid-template-rows: auto;
                    grid-template-areas:
                    "bio space picdiv"
                }
                    .chrisdiv .picdiv{
                        grid-area: picdiv;
                        margin-top: 10px;
                    }
                        .chrisdiv .shadow{
                            height: 280px;
                            width: 280px;
                            background-color: black;
                            position: absolute;
                            border-radius: 50%;
                            opacity: .6;
                        }
                        .chrisdiv .chrispic{
                            height: 270px;
                            width: 270px;
                            position: absolute;
                            border-style: none;
                            border-radius: 50%;
                            background-color: white;
                            z-index: 3;
                            margin-top: 5px;
                        }
                    .chrisdiv .space{
                        grid-area: space;
                    }
                    .chrisdiv .bio{
                        grid-area: bio;
                        text-align: left;
                        background-color: white;
                        height:260px;
                        margin-top: 20px;
                    }

//end of about


///////////////////feed//////////////////////////

#postfeed{
    padding: 5px;
    background-color: #f2f2f2;
    border: 3px solid LightGray;
    opacity: 1;
}
    .feed-avatar{
        border-radius: 50%;
        width: 80px;
        height: 80px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        margin: auto;
    }
    .location{

    }
//can we change this name --- yes
// .nav-link active{}


//end of feed







///////////////////home//////////////////////////

#map-holder{
    display: grid;
    grid-template-columns: 500px auto;
    height: 100%;
    overflow: hidden;
}
    #fake-feed{

    }

        ///////////////feed top nav/////////////

        .feed-top-nav{
            height:50px;
            display: flex;
            padding:10px;
            width: 100%;
            box-shadow: 0px 0px 10px grey;

        }
            .feed-avatar-small{
                display: flex;
                width:30px;
                height:30px;
                border-radius: 50%;
            }
            #feed-username{
               display: inline-block;
               vertical-align: middle;
               line-height: normal;
            }


        //end of feed top nav

        //////////////////////cloudfeed//////////



        //end of cloud feed


    ///////////////////MapContainer//////////////////////////


    //end of MapContainer


//end of home


///////////////////learnmore//////////////////////////





//end of learnmore

////////////////////mapicon/////////////

.iconWindow{
    text-align: center;
    border-style: solid;
    border-width: thin;
}
    .Available{
      color: green;
      font-weight: bold;
    }
    .Unavailable {
      color: red;
    }

//end of mapicon


///////////////////nav//////////////////////////
.navbar{
    background-color: white;
    position: fixed;
    top: 0;
    left:0;
    overflow: hidden;
    height: 100px;
    width: 100%;
    opacity: .5;
    padding-top:40px;
    z-index: 2;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "home profile about learn signInOut username";
}
    .navbar:hover{
        opacity: 1;
        z-index: 5;
    }
    nav a{
        padding: 30px;
    }

    .navbar .home{
        grid-area: home;

    }

    .navbar .profile{
        grid-area: profile;
    }
    .navbar .about{
        grid-area:about;
    }
    .navbar .learn{
        grid-area: learn;
    }
    .navbar .signInOut{
        grid-area:signInOut;
    }
    .navbar .username{
        grid-area:username;
    }

//end of navbar


//////////////////profile page//////////////////////////////


.profilepage{
    display: grid;
    grid-template-columns: 30% 55% 15%;
    grid-template-rows: auto;
    grid-template-areas:
    "header header im"
    "info body im"
    "photos body im"
    "friends body im"
}
/* header or in the header */
    .header{
        grid-area: header;
        color:white;
        position: relative;
        background: url(./banner.jpg);
        display: grid;
        grid-template-columns: 20% 20% 45% 15%;
        grid-template-rows: 100px auto;
        grid-template-areas:
        "buffer buffer buffer buffer"
        "propic name blank buttons"

    }
        .profilebuffer{
            grid-area: buffer;
        }
        .profilepicdiv{
            grid-area: propic;
            position: relative;
            float:left;
            height:200px;
            width:200px;
            background: url(./profilepic.jpeg);
            border-radius: 0% 50% 50% 0%;
        }
            .profilepicdiv #inputs{
                opacity: 0;
                position: absolute;
                bottom: 0;
                z-index: 2;
            }
            .profilepicdiv #inputs:hover{
                opacity: 1;
            }
            .picoverlay{
                font-size: 20px;
                background-color: black;
                opacity: .5;
                height: 200px;
                width: 200px;
                position: absolute;
                z-index: 1;
                border-radius: 0% 50% 50% 0%;
            }
        .header h1{
            grid-area: name;
            position: absolute;
            bottom: 0;

        }
        .header .blank{
            grid-area: blank;
        }
        .header .buttons{
            grid-area: buttons;
            position: absolute;
            bottom: 0;

        }
            .buttons button{
                z-index: 5;
                cursor: pointer;
            }


    /* info */
    .profilepage .info{
        grid-area: info;
        background-color: #8000ff;
    }
        .profilepage .userinfo{

        }
            .profilepage .about{

            }
                .about textarea{
                    color: black;
                    width: 90%;
                    height: 100px;
                    resize: none;
                    margin-left: 15px;
                    font-size: 15px;
                    background: url(./edit.png) right bottom no-repeat;
                    border: 0px;
                    cursor: pointer;
                }

                    .about textarea:focus{
                        border: 1px solid #888;
                        cursor: text;
                    }
                    .about:hover p{
                        opacity: 1;
                    }
                    .about p{
                        opacity: 0;
                        margin-left: 50%;
                    }
                    .about:hover input{
                        opacity: 1;
                    }
                    .about input{
                        opacity: 0;
                    }

        #boldme{
            font-weight: bold;
        }

    /* photos */
    .photos{
        grid-area: photos;
        background-color: #8000ff;
    }
        .photos img{
            width: 30%;
            height:100px;
            background-color: orange;
            margin-left: 5px;
        }

    .friends{
        grid-area: friends;
        background-color: #8000ff;
    }
        .friends img{
            width: 30%;
            height:100px;
            background-color: green;
            margin-left: 5px;
        }

    /* body */
    .body{
        grid-area: body;
        display: grid;
        grid-template-columns: 85% 15%;
        grid-template-rows: 250px auto;
        grid-template-areas:
        "post buf"
        "feed buf"
    }
        .body .post{
            grid-area: post;
            background-color: #b3ffff;
            padding-bottom: 10%;
            padding-left: 10%;
        }
            .post textarea{
                width:90%;
                height:150px;
                text-align: left;
                resize: none;
                font-size: 18px;
                overflow: auto;
            }
            .post textarea:focus{
                background-color:#FFF;
                color:#000;
                border: 1px solid #888;
            }


        .body .feed{
            grid-area:feed;
            background-color: #b3ffff;
        }

    /* messanger */
    .im{
        z-index: 2;
        grid-area: im;
        background-color: black;
        color: white;
    }
    .imitem{
        display: flex;
        border-top:solid;
    }
        .imitem div{
            width:90%;
            background-color: #8000ff;
            padding-right: 15%;
        }
        .imitem img{
            width: 60px;
            height:60px;
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 0% 50% 50% 0%;
            background: url(./profilepic.jpeg);
        }
        .imitem p{
            font-size: 15px;
        }

//end of profile page
